# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/

# Temporary cache / html dumps
data/cache/
*.html

# Logs

# Logs/
data/raw/

data/processed/

# Не коммитим сгенерированные данные
data/raw/*
data/processed/*

# Но оставляем "якорные" файлы, чтобы папки существовали в репо
!data/raw/.gitkeep
!data/processed/.gitkeep
